.tpl_i_header {margin:0px auto; text-align:center; width:100%;}




.tpl_p_header {margin:0px auto; text-align:center; width:100%;}




.tpl_e_header {margin:0px auto; text-align:center; width:100%;}

